<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Counter Test</title>
    <link rel="stylesheet" href="//adodson.com/adorn/adorn.css" type="text/css" />
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="//adodson.com/adorn/adorn.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app.js"></script>
  </head>
  <body ng-controller="controller">
    <h1>Counter App</h1>
    <form ng-submit="add(input);input='';">
        <input type="text" placeholder="Input" ng-model="input" required/> <button type="submit">+</button>
    </form>

    <div class="table apps" ng-show="!!items.length">
        <div class="table-body">
            <div ng-repeat="item in items" class="table-row">
                <div class="table-cell"><button ng-click="del(item.id)">x</button></div>
                <div class="table-cell"><input type="text" ng-model="item.title" required /></div>
                <div class="table-cell"><button ng-click="dec(item.id)">-</button></div>
                <div class="table-cell">{{item.count}}</div>
                <div class="table-cell"><button ng-click="inc(item.id)">+</button></div>
            </div>
        </div>
        <div class="table-foot">
            <div class="table-row">
                <div class="table-cell colspan"><b>Total</b> {{total}}</div>
            </div>
        </div>
    </div>


    <footer>

    </footer>
  </body>
</html>
